<!DOCTYPE html>
<html lang="{{ app.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {{ importmap() }}
        {% endblock %}
    </head>
    <body class="h-screen bg-stone-100">
        <div class="pt-12 pb-12 sm:pb-16">
            <div class="relative mx-auto container px-6 lg:px-8">
                <header class="w-full mx-auto lg:mx-0">
                    <div class="flex justify-between">
                        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
                            SymfonyCon Brussels 2023 food advisor
                        </h2>
                        <details class="relative bg-white rounded-lg m-2 h-12 hover:drop-shadow-lg">
                            <summary class="py-3 px-4">{{ (app.locale|split('_')|first)|locale_name|title }}</summary>
                            <div class="flex flex-col absolute w-full bg-white rounded-lg py-3 px-5 -mt-3 left-0">
                                {% for locale in supported_locales %}
                                    {% set short_locale = locale|split('_')|first|locale_name|title %}
                                    {% if locale != app.locale %}
                                        <a class="hover:underline" href="{{ path('app_blog', { _locale: locale }) }}">
                                            {{ short_locale }}
                                        </a>
                                    {% else %}
                                        <span class="font-bold">{{ short_locale }}</span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </details>
                    </div>
                    <p class="mt-2 text-lg leading-8 text-gray-600">
                        🍔🍟 🌯🌮 🍻🥤
                        <br>
                        You are looking for a place to eat in Brussels during SymfonyCon?
                        <br>
                        You are at the right place!
                    </p>
                </header>
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
