<!DOCTYPE html>
<html lang="{{ app.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>
            {%- block title -%}
                {{ 'meta.title'|trans }}
            {%- endblock -%}
        </title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {{ importmap() }}
        {% endblock %}
    </head>
    <body class="h-screen bg-stone-100">
        <div class="pt-12 pb-12 sm:pb-16">
            <div class="mx-auto container px-6 lg:px-8">
                <header class="w-full mx-auto lg:mx-0">
                    <div class="flex justify-between">
                        <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl hover:underline">
                            <a href="{{ path('app_blog') }}">{{ 'home.heading'|trans }}</a>
                        </h1>
                        <div class="flex justify-between space-x-8">
                            <ul class="flex flex-row space-x-4">
                                <li class="rounded-full px-6 py-3 my-auto hover:bg-white {{ app.current_route == 'app_categories' ? 'bg-white text-bold' }}">
                                    <a href="{{ path('app_categories') }}">{{ 'menu.categories'|trans }}</a>
                                </li>
                                <li class="rounded-full px-6 py-3 my-auto hover:bg-white {{ app.current_route == 'app_authors' ? 'bg-white text-bold' }}">
                                    <a href="{{ path('app_authors') }}">{{ 'menu.authors'|trans }}</a>
                                </li>
                                <li class="rounded-full px-6 py-3 my-auto hover:bg-white {{ app.current_route == 'app_search' ? 'bg-white text-bold' }}">
                                    <a href="{{ path('app_search') }}">{{ 'menu.search'|trans }}</a>
                                </li>
                            </ul>
                            <details class="relative bg-white rounded-lg h-12 hover:drop-shadow-lg">
                                <summary class="py-3 px-4">{{ (app.locale|split('_')|first)|locale_name|capitalize }}</summary>
                                <div class="flex flex-col absolute w-full bg-white rounded-lg py-3 px-5 -mt-3 left-0">
                                    {% for locale in supported_locales %}
                                        {% set short_locale = locale|split('_')|first %}
                                        {% if locale != app.locale %}
                                            <a class="hover:underline" href="{{ path('app_blog', { _locale: locale }) }}">
                                                {{ short_locale|locale_name|capitalize }}
                                            </a>
                                        {% else %}
                                            <span class="font-bold">{{ short_locale|locale_name|capitalize }}</span>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </details>
                        </div>
                    </div>
                    <p class="mt-2 text-lg leading-8 text-gray-600">
                        {{ 'home.subtitle.paragraph.html'|trans|raw }}
                    </p>
                </header>
                {% block body %}{% endblock %}
                <footer class="fixed bottom-12 w-full mx-auto pt-32">
                    <span class="text-gray-500">
                        {{ 'home.heading'|trans }} - {{ 'home.footer.credits'|trans }}
                    </span>
                </footer>
            </div>
        </div>
    </body>
</html>
